<hr class="hr1">
<div class="copyrights" background-color: #171817;>
    <div class="container" style="color:white;">
        <div style="padding:20px; text-align:center;">
            <a style="color: white;" href="{% url 'home' %}">Gainwealth Investment</a>
        </div>

        <div class="footer-distributed">
            <div class="footer-left">
                <div class="pb-4">
                    <a href="{{ links.facebook|urlize }}" target="_blank">
                        <i class="fa fa-facebook-f mr-3"></i>
                    </a>

                    <a href="{{ links.twitter }}" target="_blank">
                        <i class="fa fa-twitter mr-3"></i>
                    </a>

                    <a href="{{ links.youtube }}" target="_blank">
                        <i class="fa fa-youtube mr-3"></i>
                    </a>

                    <a href="" target="_blank">
                        <i class="fa fa-instagram mr-3"></i>
                    </a>
                    <a href="" target="_blank">
                        <i class="fa fa-linkedin mr-3"></i>
                    </a>
                </div>
                <p class="The barber's Hub">All Rights Reserved. &copy; 2022;
                </p>
                <div style="margin-top: 20px; width: 80%; margin-left: 10px;">
                    <ul style="list-style-type:none; columns:2;">
                        <li><a href="/" style="color: white;">Home</a></li>
                        <li><a href="#AboutUs" style="color: white;">About Us</a></li>
                        <li><a href="/" style="color: white;">Product</a></li>
                        <li><a href="/" style="color: white;">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div><!-- end container -->
</div><!-- end copyrights -->