<hr class="hr1">
<div class="copyrights" style="color:white; background-color: #808281;">
    <div class="container">
        <div class="footer-distributed">
            <div class="footer-left">
                <p class="footer-links">
                    <a href="/">Home</a>
                    <a href="#AboutUs">About Us</a>
                    <a href="/">Contact</a>
                </p>
                <div class="pb-4">
                    <a href="https://www.facebook.com/evans.chan3" target="_blank">
                        <i class="fa fa-facebook-f mr-3"></i>
                    </a>

                    <a href="https://twitter.com/evanschan1" target="_blank">
                        <i class="fa fa-twitter mr-3"></i>
                    </a>

                    <a href="https://www.youtube.com/channel/UCDzhr_JjCUrTZ4SU7j9gxvg" target="_blank">
                        <i class="fa fa-youtube mr-3"></i>
                    </a>


                    <a href="https://github.com/doctor-evans" target="_blank">
                        <i class="fa fa-github mr-3"></i>
                    </a>

                    <a href="https://www.instagram.com/evans__chan" target="_blank">
                        <i class="fa fa-instagram mr-3"></i>
                    </a>
                </div>
                <p class="The barber's Hub">All Rights Reserved. &copy; 2022 Design By : snavetech with &#9829;
                </p>
            </div>
        </div>
    </div><!-- end container -->
</div><!-- end copyrights -->