<div class="row align-items-center">
    <div class="col-md-6 text-left">
        <div class="message-box">
            <h4>Welcome</h4>
            <h2>To Gainwealth Investment</h2>
            <p class="lead">Your one stop to all information regarding real-estate. Choosing a right
                location, specs and housing.</p>
        </div><!-- end messagebox -->
    </div><!-- end col -->
    <div class="col-md-6 text-center">
        <div class="right-box">
            <img class="img-fluid"
                src="https://static.vecteezy.com/system/resources/previews/006/309/690/non_2x/creative-real-estate-logo-design-house-logo-design-real-estate-icon-vector.jpg"
                alt="" />

        </div>
    </div><!-- end col -->
</div><!-- end row -->